@use './utils/variables';
@use './blocks/stars';
@use './blocks/card';

.page {
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: variables.$letter-spacing;
  color: variables.$main-accent;

  &__content {
    margin: 0;
  }
}
